@import url('https://cdn.jsdelivr.net/npm/@typehaus/metropolis@12.0.0-next.7/100,400,500,600,700.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');
:root {
  --black: #222222;
  --grey: #9b9b9b;
  --lightGrey: #f4f4f4;
  --white: #fff;
  --background: #e5e5e5;
  --red: #f01f0e;
  --primary: #f01f0e;
  --hover-red: #bd1a0c;
  --hover-red-item: #ffa097;
  --success: #2aa952;
}

* {
  font-family: 'Metropolis', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ==================== navbar ===================== */

#navbar .navbar {
  background-color: var(--white) !important;
  box-shadow: 0px 6px 40px rgba(173, 173, 173, 0.25);
  height: 100px;
}

#navbar .navbar-brand {
  color: var(--primary);
  font-weight: 700;
  font-size: 24px;
}

#navbar .form-search {
  min-width: 300px;
  border-radius: 24px;
  color: var(--grey) !important;
  font-size: 16px !important;
}

#navbar .btn-search {
  border-radius: 50%;
  right: 10px;
}

#navbar .btn-outline-success {
  font-size: 22px;
  border: 1px solid var(--grey);
  color: var(--grey);
  transition: all 0.3s ease-in-out;
  padding: 2px 10px;
}

#navbar .btn-outline-success:hover {
  background-color: var(--primary);
  border: none;

  color: var(--grey);
}

#navbar .nav-link {
  font-size: 24px;
  font-weight: 700;
  color: var(--grey);
  padding: 2px 10px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

#navbar .nav-link:hover {
  background-color: var(--primary);
  border-radius: 6px;
}

#navbar .nav-item {
  padding: 10px;
  gap: 30px;
}

#navbar .btn-login {
  min-width: 120px;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 40px;

  transition: all 0.3s ease-in-out;
  border-radius: 24px;
  background-color: var(--primary);
  border: none;
  color: var(--white);
}

#navbar .btn-login:hover {
  background-color: var(--hover-red);
  color: var(white);
}

#navbar .btn-signup {
  min-width: 120px;
  font-size: 14px;
  font-weight: 500;

  padding: 6px 40px;

  transition: all 0.3s ease-in-out;
  border-radius: 24px;
  color: var(--grey);
  background-color: var(--white);
  border: 1px solid var(--grey);
}

#navbar .btn-signup:hover {
  background-color: var(--grey);
  color: var(--white);
}

/* modal filter */
#filter .modal-header {
  padding: 20px 20px;
  box-shadow: 0px 0px 6px 0px rgba(53, 50, 50, 0.25);
}

#filter .modal-body {
  background-color: var(--lightGrey);
  padding: 0;
}

#filter .text-color {
  color: var(--black);
  font-weight: 600;
}

#filter .container {
  background-color: var(--white);
  padding: 20px 20px;
}

#filter .color-pallets .btn-color {
  padding: 3px;
  margin-right: 12px;
  border-radius: 50%;
}

#filter .size-charts .btn-size {
  width: 40px;
  height: 40px;

  border: 1px solid var(--black);
  margin-right: 12px;
}

#filter .list-categories .btn-category {
  width: 100%;
  height: 40px;

  border: 1px solid var(--black);
  margin-right: 12px;
}

#filter .list-categories .btn-category:focus,
.btn-category:active {
  color: var(--white);
  background-color: var(--primary);
  border: none;
}

#filter .size-charts .btn-size:focus,
.btn-size:active {
  color: var(--white);
  background-color: var(--primary);
  border: none;
}

#filter .color-pallets .btn-color:active {
  border: 1px solid var(--primary);
}

#filter .form-select {
  width: 100%;
  border: none;
  padding-left: 0;
  padding-top: 10px;
}

#filter .modal-footer {
  box-shadow: 0px -8px 10px 0px rgba(217, 217, 217, 0.25);
}

#filter .modal-footer .btn-discard {
  width: 100%;
  border: 1px solid var(--black);
  border-radius: 24px;
}

#filter .modal-footer .btn-apply {
  width: 100%;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 24px;
}

#filter .modal-footer .btn-apply:hover {
  background-color: var(--hover-red);
  color: var(--white);
}

#filter .modal-footer .btn-discard:hover {
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

/* =========== navbar isLogin ============= */
#navbar .btn-profile {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
}

#navbar .btnProfile {
  width: 100%;
  border-radius: 50%;
}

/* =========== end Navbar isLogin ================== */
/* ==================== end Navbar ======================= */

/* ============== dashboard seller ==================== */
#pills-tab-product {
  border-bottom: 1px solid var(--grey);
}

#pills-tab-product .nav-item {
  margin-right: 30px;
}

#pills-tab-product .nav-item .nav-link {
  border: none;
  background-color: var(--white);

  padding: 10px 0;

  font-size: 15px;
  font-weight: 500;
  text-align: left;
}

#pills-tab-product .nav-item .nav-link.active {
  background-color: var(--white) !important;
  color: var(--primary) !important;
  border-bottom: 3px solid var(--primary) !important;
  border-radius: 0 !important;
}
.table {
  border-radius: 20px;
  border: 1px solid var(--grey);
}

.table tr th {
  color: var(--white);
}
/* ============== End dashboard seller ==================== */
@media screen and (max-width: 991px) {
  #navbar .form-search {
    width: 100%;
  }

  #navbar .collapse {
    margin-top: 32px;
    padding-top: 10px;
    background-color: var(--white);
  }

  #navbar .nav-item {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  #navbar .btn-outline-success {
    width: 100%;
    margin-top: 20px;
    margin-right: auto;
  }
}
